{%- liquid
  assign allowed_options = "Size,Sleeve" | split: "," 
-%}

{%- for option in product.options_with_values -%}
  {%- assign option_name_downcased = option.name | downcase -%}

  <!-- Debugging: Show Available Options -->
  <p>Checking Option: {{ option.name }}</p>

  {%- if allowed_options contains option.name -%}  
    <div class="variant-wrapper js option-{{ option.name }}" data-type="button">
      <label class="variant__label" for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
        {{ option.name }}
      </label>

      <fieldset class="variant-input-wrap no-auto-select"
        name="{{ option.name }}"
        data-index="option{{ forloop.index }}"
        data-handle="{{ option.name | handleize }}"
        id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
        
        <legend class="hide">{{ option.name }}</legend>

        {%- for value in option.values -%}
          {%- assign variant = product.variants | where: 'option1', value | first -%}
          {%- if variant == blank -%}
            {%- assign variant = product.variants | where: 'option2', value | first -%}
          {%- endif -%}
          {%- assign product_available = variant.available -%}

          <div class="variant-input" data-index="option{{ forloop.index }}" data-value="{{ value | escape }}">
            
            <input type="radio"
              form="{{ form_id }}"
              {% if option.selected_value == value %} checked {% endif %}
              value="{{ value | escape }}"
              name="{{ option.name }}"
              data-index="option{{ forloop.index }}"
              data-variant-inputs
              {% if product_available == false %}disabled{% endif %}
              class="{% unless product_available %} disabled{% endunless %}"
              id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
              data-variant-id="{{ variant.id }}" />

            <label for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
              class="variant__button-label{% unless product_available %} disabled{% endunless %}">{{ value | escape }}</label>
          </div>
        {%- endfor -%}
      </fieldset>
    </div>
  {%- endif -%}
{%- endfor -%}

<script id="productVariants" type="application/json">
    {{ product.variants | json }}
</script>
