{%- assign swatch_file_extension = 'png' -%}
{%- liquid
  assign is_size = false
  assign size_trigger = 'size' | downcase
  assign downcased_option = option.name | downcase

  if downcased_option contains size_trigger
    assign is_size = true
  endif
-%}

{% if is_size %}
  <div class="variant-wrapper js option-{{ option.name }}" data-type="button">
    <label class="variant__label option-{{ option.name }}"
      for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
      {{ option.name }}
    </label>
    {%- assign option_index = forloop.index -%}
    <fieldset class="variant-input-wrap no-auto-select"
      name="{{ option.name }}"
      data-index="option{{ option_index }}"
      id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
      <legend class="hide">{{ option.name }}</legend>
      {%- for value in option.values -%}
        <div class="variant-input" data-index="option{{ option_index }}" data-value="{{ value | escape }}">
          <input type="radio"
            form="{{ form_id }}"
            {% if option.selected_value == value %} checked="checked"{% endif %}
            value="{{ value | escape }}"
            data-index="option{{ option_index }}"
            name="{{ option.name }}"
            data-variant-input
            class="variant__input"
            id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
             {% for variant in product.variants %}
        {% if variant.options contains value %}
            data-variant-id="{{ variant.id }}" <!-- ✅ Dynamically set the variant ID -->
        {% endif %}
    {% endfor %}
            >
          <label for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
            class="variant__button-label">
            {{ value | escape }}
          </label>
        </div>
      {%- endfor -%}
    </fieldset>
  </div>
{% endif %}
