{%- assign swatch_file_extension = 'png' -%}
{% assign packNum = "" %}

{%- capture size_chart_title -%}
  {{ 'products.general.size_chart' | t }} 
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-size-chart" viewBox="0 0 64 64">
    <path d="M22.39 33.53c-7.46 0-13.5-3.9-13.5-8.72s6-8.72 13.5-8.72 13.5 3.9 13.5 8.72a12 12 0 0 1-.22 1.73"/>
    <ellipse cx="22.39" cy="24.81" rx="3.28" ry="2.12"/>
    <path d="M8.89 24.81V38.5c0 7.9 6.4 9.41 14.3 9.41h31.92V33.53H22.39m24.39 0v7.44m-8.13-7.44v7.44m-8.13-7.44v7.44m-8.13-7.44v7.44"/>
  </svg>
{%- endcapture -%}

{%- liquid
  assign size_options = "size,sleeve" | split: "," 
  assign is_size_or_sleeve = false

  if option.name
    assign downcased_option = option.name | downcase
    if size_options contains downcased_option
      assign is_size_or_sleeve = true
    endif
  endif
-%}

{% if is_size_or_sleeve %}
<div class="variant-wrapper js option-{{ option.name }}" data-type="button">
  <label class="variant__label option-{{ option.name }}"
    for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
    {{ option.name }}

    {%- if connect_to_sizechart and downcased_option == "size" -%}
      <span class="variant__label-info">
        &mdash;
        {%- render 'tool-tip-trigger-sizechart', 
          title: size_chart_title,
          content: section.blocks[sizechart_index].settings.size_chart.content,
          context: 'size-chart',
          product: product
        -%}
      </span>
    {%- endif -%}
  </label>

  {%- assign option_index = forloop.index -%}
  <fieldset class="variant-input-wrap no-auto-select"
    name="{{ option.name }}"
    data-index="option{{ option_index }}"
    data-handle="{{ option.name | handleize }}"
    id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
    <legend class="hide">{{ option.name }}</legend>

    {%- for value in option.values -%}
      {%- liquid
        assign variant = product.variants | where: 'option1', value | first
        assign product_available = variant.available
      -%}

      <div class="variant-input"
        data-index="option{{ option_index }}"
        data-value="{{ value | escape }}">
        
        <input type="radio"
          form="{{ form_id }}"
          value="{{ variant.id }}"
          data-index="option{{ option_index }}"
          name="{{ option.name }}"
          data-variant-input
          data-option-name="{{ option.name }}"
          {% if option.selected_value == value %} checked="checked"{% endif %}
          {% unless product_available %} disabled{% endunless %}
          class="{% unless product_available %} disabled{% endunless %}{{ option.name }}"
          id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}">

        <label for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
          class="variant__button-label{% unless product_available %} disabled{% endunless %}">
          {{ value | escape }}
        </label>

        {% unless product_available %}
          <span class="soldout-warning">Sold Out</span>
        {% endunless %}
      </div>
    {%- endfor -%}
  </fieldset>
</div>
{% endif %}
