{%- assign swatch_file_extension = 'png' -%}

<div class="variant-wrapper js optoin-{{ option.name }}" data-type="button">
  <label class="variant__label optoin-{{ option.name }}"
    for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
    {{ option.name }}
  </label>
  
  {%- assign option_index = forloop.index -%}
  <fieldset class="variant-input-wrap no-auto-select"
    name="{{ option.name }}"
    data-index="option{{ option_index }}"
    data-handle="{{ option.name | handleize }}"
    id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ forloop.index0 }}">
    
    <legend class="hide">{{ option.name }}</legend>
    
    {%- for value in option.values -%}
      <div class="variant-input"
        data-index="option{{ option_index }}"
        data-value="{{ value | escape }}"
        {% if option.name == "Size" or option.name == "Sleeve" %}
          data-option-type="variant-selector"
        {% endif %}
      >
        <input type="radio"
  form="{{ form_id }}"
  value="{{ value | escape }}"
  data-index="option{{ option_index }}"
  name="{{ option.name }}"
  data-variant-input
  data-option-name="{{ option.name }}"
  data-option-value="{{ value | escape }}"
  data-variant-id="{{ product.variants | where: 'option1', value | map: 'id' | first }}"
  {% if product.variants | where: 'option1', value | map: 'available' | first == false %} disabled{% endif %}
  id="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
>
        <label for="ProductSelect-{{ section_id }}-{{ product.id }}-option-{{ option.name | handleize }}-{{ value | url_encode }}"
          class="variant__button-label{% unless product_available %} disabled{% endunless %}">
          {{ value | escape }}
        </label>
      </div>
    {%- endfor -%}
    
  </fieldset>
</div>

<!-- Store selected Variant ID -->
<input type="hidden" id="selected-variant-id" value="">
