{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }}
{%- endcapture -%}

{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  
  endif
%}
<!doctype html>
<html
  class="no-js supports-no-cookies{% if settings.page_transition %} overflow-hidden{% endif %}"
  lang="{{ request.locale.iso_code }}"
  data-template="{{ template.name }}"
  {% if enable_rtl %}
    dir="rtl"
  {% endif %}
>
  <head>
<!-- Google tag (gtag.js) event - delayed navigation helper --> <script> // Helper function to delay opening a URL until a gtag event is sent. // Call it in response to an action that should navigate to a URL. function gtagSendEvent(url) { var callback = function () { if (typeof url === 'string') { window.location = url; } }; gtag('event', 'conversion_event_add_to_cart_2', { 'event_callback': callback, 'event_timeout': 2000, // <event_parameters> }); return false; } </script>
    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-557525884"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-557525884');
</script>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    
    {%- liquid
      render 'preload'
      render 'SEO'
      render 'social-meta-tags'
      render 'font-face'
    -%}

    {% render 'critical-css' %}
    {% render 'critical-scripts' %}
    {% render 'custom-code-head' %}

    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'chunk.css' | asset_url | stylesheet_tag }}

    {% render 'style-tags' %}

    <script src="{{ 'vendor.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'theme-global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'app.min.js' | asset_url }}" defer="defer"></script>

    {%- if settings.animations != 'none' -%}
      <script src="{{ 'animations.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}

    <script src="{{ 'cart.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'bundle-script.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}
    
    <meta name="google-site-verification" content="YONowKTHCc-567Kn12gN0qYA9Wn6neB0_hu99sPEri8" />
    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6C2P4N6R6C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6C2P4N6R6C');
</script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NCH6X84W');</script>
<!-- End Google Tag Manager -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.3.0/flickity.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.3.0/flickity.pkgd.min.js"></script> -->

    
  </head>

  <body
    id="sf-theme"
    class="{{ body_classes }} relative min-h-screen{% if customer %} customer-logged-in{% endif %}{% if settings.page_transition %} overflow-hidden{% endif %}"
    {% if template.name == 'product' %}
      data-product-id="{{ product.id }}"
    {% endif %}
  >
    {% if settings.page_transition %}
      <div class="sf-page-transition">
        <div class="sf-page-transition__spinner">
          <div class="sf-page-transition__spinner-content">
            <div></div>
          </div>
        </div>
      </div>
    {% endif %}
    {%- liquid
      render 'theme-data'
      sections 'header-group'
      render 'scroll-top-button'
    -%}

    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {%- sections 'footer-group' -%}

    {% render 'custom-code-body' %}
    {% render 'script-tags' %}
    {% render 'cookie-banner' %}
    
    <script src="{{ 'quick-view.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'product-card-swatch.min.js' | asset_url }}" defer="defer"></script>
    {%- if settings.enable_predictive_search -%}
      <script src="{{ 'predictive-search.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if linklists['gift-wrapping'].links != blank
      and linklists['gift-wrapping'].links.first.type == 'product_link'
    -%}
      <script src="{{ 'gift-wrapping.min.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
    {%- if settings.enable_cart_drawer and template != 'cart' -%}
      {% render 'cart-drawer' %}
    {%- endif -%}
    <!-- Start of uathayamhelp Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=00627f80-d270-42ab-ba29-f11db4d321f5"> </script>
    <!-- End of uathayamhelp Zendesk Widget script -->

    <script src="{{ 'theme.js' | asset_url }}"></script>
   

  </body>
</html>
{% render 'bundle-script' %}